<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skills-Web</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Skills-HTML-CSS</title>
    <h1> Welcome to the Ubermelon job portal.</h1>
    <h3> Please provide the information requested below in order to apply. </h3>
</head>
<body>
    <form action="/application-response" method="POST">
        First Name:
        <input type= "text" class="yellow" name="fname"><br>
        Last Name:
         <input type= "text" class="yellow" id="lname" name="lname"><br>
        Salary Requirement:(as a number)
        <input type= "text" class="yellow" name="salary"><br>
        What job are you applying for? <br>
        <input type="checkbox" name="job" value="software-engineer">Software Engineer <br>
        <input type="checkbox" name="job" value="qa-engineer">QA Engineer<br>
        <input type="checkbox" name="job" value="product-manager">Product Manager <br>
        <input type="submit" class="yellow">
</form>
</body>
</html>